---
layout: default.hbs
title: fiiS 2014
---

<main class="main">
	<section class="jumbotron">
		<div class="inner">
			<h1>Dise単a la polera</h1><br>
			<h1>oficial</h1>
			<img src="images/logo-fiis.svg" alt="image">

			<div class="bottom">
				<div class="span">
					<img src="images/logo-gap.svg" alt="image">
				</div>
				<div class="span">
					<h3>#SUMMERLOVES</h3>
					<h3>#GAPCHILE</h3>
				</div>
			</div>
		</div>
	</section>

	<section class="message">
		<a name="message" class="anchor"></a>

		<div class="inner">
			<h2>
				Dise単a tu polera Gap-fiiS <br>
				<b>#dise単aTuPolera</b>
			</h2>
			<p>
				Se parte de fiiS! Gap y fiiS te invitan a que juntes toda tu creatividad y concurses por ser <br>
				el encargado del dise単o oficial de la polera del festival.
			</p>

			<a href="#" class="btn btn-primary">Lorem Button</a>
		</div>
	</section>

	<section class="feed">
		<a name="feed" class="anchor"></a>

		<div class="inner">
			<div class="instafeed" id="instafeed-0"></div>
			<div class="instafeed" id="instafeed-1"></div>

			<div class="bottom">
				<div class="loading">cargando</div>
			</div>
		</div>

	</section>

</main>
