<a name="top" class="anchor"></a>

<header>
	<div class="inner">
		<nav>
			<ul>
				<li>
					<a class="menu" href="#top">INICIO</a>
				</li>
				<li>
					<a class="menu" href="#message">BASES</a>
				</li>
				<li>
					<a class="menu" href="#feed">DISEÑOS</a>
				</li>
				<li>
					<a class="menu" href="#">fiiS2014</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<header class="second">
	<div class="inner">
		<nav>
			<ul>
				<li>
					<a class="menu" href="#top">INICIO</a>
				</li>
				<li>
					<a class="menu" href="#message">BASES</a>
				</li>
				<li>
					<a class="menu" href="#feed">DISEÑOS</a>
				</li>
				<li>
					<a class="menu" href="#">fiiS2014</a>
				</li>
			</ul>
		</nav>
	</div>
</header>